.MMM-windforecast .day {
  padding-left: 0;
  padding-right: 25px;
}

.MMM-windforecast .weather-icon {
  padding-right: 30px;
  text-align: center;
}

.MMM-windforecast .min-temp {
  padding-left: 20px;
  padding-right: 0;
}

.MMM-windforecast .rain {
  padding-left: 20px;
  padding-right: 0;
}

.MMM-windforecast .wind {
  padding-left: 20px;
  padding-right: 0;
}

.MMM-windforecast tr.colored .min-temp {
  color: #BCDDFF;
}

.MMM-windforecast tr.colored .max-temp {
  color: #FF8E99;
}
